@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: black;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
}